openapi: 3.0.0
info:
  title: Fireblocks API
  version: 1.6.2
  contact:
    email: support@fireblocks.com
servers:
  - url: "https://api.fireblocks.io/v1"
x-readme:
  explorer-enabled: false
  samples-languages:
    - curl
    - javascript
    - python

paths:
  #  VAULT
  "/vault/accounts":
    get:
      summary: List vault accounts
      description: Gets all vault accounts in your workspace.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vault_accounts = fireblocks.get_vault_accounts()
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAccounts = await fireblocks.getVaultAccounts();
            name: Fireblocks SDK Javascript example
      parameters:
        - in: query
          name: namePrefix
          required: false
          schema:
            type: string
        - in: query
          name: nameSuffix
          required: false
          schema:
            type: string
        - in: query
          name: minAmountThreshold
          required: false
          schema:
            type: number
        - in: query
          name: assetId
          required: false
          schema:
            type: string
            x-fb-entity: asset
        - in: query
          name: maxBip44AddressIndexUsed
          required: false
          schema:
            type: number
        - in: query
          name: maxBip44ChangeAddressIndexUsed
          required: false
          schema:
            type: number
      responses:
        "200":
          description: A list of vault accounts
          headers: &req-id-header
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VaultAccount"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create a new vault account
      description: Creates a new vault account with the requested name.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAccount = fireblocks.create_vault_account(name, hiddenOnUI, customer_ref_id, auto_fueling)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAccount = await fireblocks.createVaultAccount(name, hiddenOnUI, customerRefId, autoFueling);
            name: Fireblocks SDK Javascript example
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  description: Account Name
                  type: string
                hiddenOnUI:
                  description: >-
                    Optional - if true, the created account and all related transactions will not be shown on Fireblocks console
                  type: boolean
                customerRefId:
                  description: >-
                    Optional - Sets a customer reference ID
                  type: string
                autoFuel:
                  description: Optional - Sets the autoFuel property of the vault account
                  type: boolean
      responses:
        "200":
          description: A Vault Account object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/VaultAccount"
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts_paged":
    get:
      summary: List vault acounts (Paginated)
      description: Gets all vault accounts in your workspace. This endpoint returns a limited amount of results with a quick response time.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vault_accounts = fireblocks.get_vault_accounts_with_page_info(filters)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAccounts = await fireblocks.getVaultAccountsWithPageInfo(filters);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: query
          name: namePrefix
          required: false
          schema:
            type: string
        - in: query
          name: nameSuffix
          required: false
          schema:
            type: string
        - in: query
          name: minAmountThreshold
          required: false
          schema:
            type: number
        - in: query
          name: assetId
          required: false
          schema:
            type: string
            x-fb-entity: asset
        - in: query
          name: maxBip44AddressIndexUsed
          required: false
          schema:
            type: number
        - in: query
          name: maxBip44ChangeAddressIndexUsed
          required: false
          schema:
            type: number
        - in: query
          name: orderBy
          required: false
          schema:
            type: string
            enum: ["ASC", "DESC"]
            default: "DESC"
        - in: query
          name: before
          required: false
          schema:
            type: string
        - in: query
          name: after
          required: false
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: number
            minimum: 1
            maximum: 500
            default: 200
      responses:
        "200":
          description: A VaultAccountsPagedResponse object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/VaultAccountsPagedResponse"
  "/vault/accounts/{vaultAccountId}":
    get:
      summary: Find a vault account by ID
      description: Returns the requested vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vault_account = fireblocks.get_vault_account(vault_account_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAccount = await fireblocks.getVaultAccount(vault_account_id);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account to return
            type: string
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
      responses:
        "200":
          description: A Vault Account object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/VaultAccount"
        default:
          $ref: "#/components/responses/Error"
    put:
      summary: Rename a vault account
      description: Renames the requested vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAccount = fireblocks.update_vault_account(vault_account_id, name)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAccount = await fireblocks.updateVaultAccount(vautlAccountId, name);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account to edit
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  description: Account Name
                  type: string
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/vault/asset_wallets":
    get:
      summary: List asset wallets (Paginated)
      description: |
        Gets all asset wallets at all of the vault accounts in your workspace. An asset wallet is an asset at a vault account. This method allows fast traversal of all account balances.
        **Note:**
          - This API endpoint is in limited availability and available for selected customers. If you would like to get early access to this endpoint, please reach out to [Fireblocks Support](https://support.fireblocks.io/hc/en-us/requests/new?ticket_form_id=36000337220)
          - This API call is subject to [rate limits](https://developers.fireblocks.com/reference/rate-limiting).
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vault_accounts = fireblocks.get_asset_wallets(filters)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAccounts = await fireblocks.getAssetWallets(filters);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: query
          name: totalAmountLargerThan
          description: When specified, only asset wallets with total balance larger than this amount are returned.
          required: false
          schema:
            type: number
        - in: query
          name: assetId
          required: false
          description: When specified, only asset wallets cross vault accounts that have this asset ID are returned.
          schema:
            type: string
            x-fb-entity: asset
        - in: query
          name: before
          required: false
          description: Fetches the next paginated response before this element. This element is a cursor and is returned at the response of the previous page.
          schema:
            type: string
        - in: query
          name: after
          required: false
          description: Fetches the next paginated response after this element. This element is a cursor and is returned at the response of the previous page.
          schema:
            type: string
        - in: query
          name: limit
          required: false
          description: The maximum number of asset wallets in a single response. The default is 200 and the maximum is 1000.
          schema:
            type: number
            minimum: 1
            maximum: 1000
            default: 200
      responses:
        "200":
          description: A PaginatedAssetWalletResponse object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PaginatedAssetWalletResponse"
  "/vault/accounts/{vaultAccountId}/hide":
    post:
      summary: Hide a vault account in the console
      description: Hides the requested vault account from the web console view.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.hide_vault_account(vault_account_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAsset = await fireblocks.hideVaultAccount(vaultAccountId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The vault account to hide
          schema:
            type: string
            minimum: 1
            format: numeric
            x-fb-entity: vault_account
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/unhide":
    post:
      summary: Unhide a vault account in the console
      description: Makes a hidden vault account visible in web console view.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.unhide_vault_account(vault_account_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAsset = await fireblocks.unhideVaultAccount(vaultAccountId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The vault account to unhide
          schema:
            type: string
            minimum: 1
            format: numeric
            x-fb-entity: vault_account
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/{assetId}/activate":
    post:
      summary: Activate a wallet in a vault account
      description: Initiates activation for a wallet in a vault account.
      tags:
        - Vaults
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account to return, or 'default' for the default vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
      responses:
        "200":
          description: OK
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateVaultAssetResponse"
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/set_customer_ref_id":
    post:
      summary: Set an AML/KYT customer reference ID for a vault account
      description: Assigns an AML/KYT customer reference ID for the vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.set_vault_account_customer_ref_id(vault_account_id, customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAsset = await fireblocks.setCustomerRefIdForVaultAccount(vaultAccountId, customerRefId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The vault account ID
          schema:
            type: string
            minimum: 1
            format: numeric
            x-fb-entity: vault_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                customerRefId:
                  description: Customer reference ID
                  type: string
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/set_auto_fuel":
    post:
      summary: Turn autofueling on or off
      description: Sets the autofueling property of the vault account to enabled or disabled.
      tags:
        - Vaults
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: The vault account ID
          schema:
            type: string
            minimum: 1
            format: numeric
            x-fb-entity: vault_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                autoFuel:
                  description: Auto Fuel
                  type: boolean
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/{assetId}":
    get:
      summary: Get the asset balance for a vault account
      description: Returns a wallet for a specific asset of a vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.get_vault_account_asset(vault_account_id, asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAsset = await fireblocks.getVaultAccountAsset(vaultAccountId, assetId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account to return
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
      responses:
        "200":
          description: A VaultAsset object
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/VaultAsset"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create a new wallet
      description: Creates a wallet for a specific asset in a vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.create_vault_asset(vault_account_id, asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAsset = await fireblocks.createVaultAsset(vaultAccountId, assetId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account to return, or 'default' for the default vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                eosAccountName:
                  description: Optional - when creating an EOS wallet, the account name. If not provided, a random name will be generated
                  type: string
      responses:
        "200":
          description: OK
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateVaultAssetResponse"
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/{assetId}/balance":
    post:
      summary: Refresh asset balance data
      description: Updates the balance of a specific asset in a vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.refresh_vault_asset_balance(vault_account_id, asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAsset = await fireblocks.refreshVaultAssetBalance(vaultAccountId, assetId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account to return
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
      requestBody:
        required: false
        content:
          "*/*":
            schema:
              type: object
      responses:
        "200":
          description: A VaultAsset object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/VaultAsset"
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/{assetId}/addresses":
    get:
      summary: Get asset addresses
      description: Lists all addresses for specific asset of vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: depositAddresses = fireblocks.get_deposit_addresses(vault_account_id, asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const depositAddresses = await fireblocks.getDepositAddresses(vaultAccountId, assetId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account to return
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
      responses:
        "200":
          description: A list of deposit addresses
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VaultWalletAddress"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create new asset deposit address
      description: Creates a new deposit address for an asset of a vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: address = fireblocks.generate_new_address(vault_account_id, asset_id, description, customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const address = await fireblocks.generateNewAddress(vaultAccountId, assetId, description, customerRefId);
            name: Fireblocks SDK Javascript example
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                description:
                  description: (Optional) Attach a description to the new address
                  type: string
                customerRefId:
                  description: >-
                    Optional - Sets a customer reference ID
                  type: string
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account to return
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
      responses:
        "200":
          description: The created address
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateAddressResponse"
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/{assetId}/max_spendable_amount":
    get:
      summary: Get the maximum spendable amount in a single transaction.
      description: Get the maximum amount of a particular asset that can be spent in a single transaction from a specified vault account (UTXO assets only, with a limitation on number of inputs embedded). Send several transactions if you want to spend more than the maximum spendable amount.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account, or 'default' for the default vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
        - in: query
          name: manualSignging
          required: false
          description: False by default. The maximum number of inputs depends if the transaction will be signed by an automated co-signer server or on a mobile device.
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}":
    put:
      summary: Update address description
      description: Updates the description of an existing address of an asset in a vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: address = fireblocks.set_address_description(vault_account_id, asset_id, address, tag, description)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const address = await fireblocks.setAddressDescription(vaultAccountId, assetId, address, tag, description);
            name: Fireblocks SDK Javascript example
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                description:
                  description: The address description
                  type: string
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
        - in: path
          name: addressId
          required: true
          description: >-
            The address for which to add a description. For XRP, use <address>:<tag>, for all other assets, use only the address
          schema:
            type: string
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  ? "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/set_customer_ref_id"
  : post:
      summary: Assign AML customer reference ID
      description: Sets an AML/KYT customer reference ID for a specific address.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.set_customer_ref_id_for_address(vault_account_id, asset_id, address_id, customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAsset = await fireblocks.setCustomerRefIdForAddress(vaultAccountId, assetId, addressId, customerRefId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
        - in: path
          name: addressId
          required: true
          description: >-
            The address for which to add a description. For XRP, use <address>:<tag>, for all other assets, use only the address
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                customerRefId:
                  description: Customer reference ID
                  type: string
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  ? "/vault/accounts/{vaultAccountId}/{assetId}/addresses/{addressId}/create_legacy"
  : post:
      summary: Convert a segwit address to legacy format
      description: Converts an existing segwit address to the legacy format.
      tags:
        - Vaults
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
        - in: path
          name: addressId
          required: true
          description: >-
            The segwit address to translate
          schema:
            type: string
      responses:
        "200":
          description: The created address
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateAddressResponse"
        default:
          $ref: "#/components/responses/Error"
  "/vault/accounts/{vaultAccountId}/{assetId}/unspent_inputs":
    get:
      summary: Get UTXO unspent inputs information
      description: Returns unspent inputs information of an asset in a vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: vaultAsset = fireblocks.get_unspent_inputs(vault_account_id, asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const vaultAsset = await fireblocks.getUnspentInputs(vaultAccountId, assetId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          description: >-
            The ID of the vault account
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          description: The ID of the asset
          schema:
            type: string
            x-fb-entity: asset
      responses:
        "200":
          description: List of Unspent information per input
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnspentInputsResponse"
        default:
          $ref: "#/components/responses/Error"
  "/vault/public_key_info/":
    get:
      summary: Get the public key information
      description: Gets the public key information based on derivation path and signing algorithm.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: pubKey = fireblocks.get_public_key_info(algorithm, derivation_path, compressed)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >
              const PublicKeyInfoArgs = {
              algorithm: 'MPC_ECDSA_SECP256K1',
              derivationPath: '[44,0,0,0,0]'
              }
              const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: query
          name: derivationPath
          required: true
          schema:
            type: string
        - in: query
          name: algorithm
          required: true
          schema:
            type: string
        - in: query
          name: compressed
          schema:
            type: boolean
      responses:
        "200":
          description: Public key information
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PublicKeyInformation"
        default:
          $ref: "#/components/responses/Error"
  ? "/vault/accounts/{vaultAccountId}/{assetId}/{change}/{addressIndex}/public_key_info"
  : get:
      summary: Get the public key for a vault account
      description: Gets the public key information for the vault account.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: pubKey = fireblocks.get_public_key_info_for_vault_account(vault_account_id, asset_id, change, address_index, compressed)
            name: Fireblocks SDK Python example
          - language: javascript
            code: >
              const PublicKeyInfoArgs = {
              algorithm: 'MPC_ECDSA_SECP256K1',
              derivationPath: '[44,0,0,0,0]'
              }
              const pubKey = await fireblocks.getPublicKeyInfo(PublicKeyInfoArgs);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: vaultAccountId
          required: true
          schema:
            type: string
            format: numeric
            x-fb-entity: vault_account
        - in: path
          name: assetId
          required: true
          schema:
            type: string
            x-fb-entity: asset
        - in: path
          name: change
          required: true
          schema:
            type: number
        - in: path
          name: addressIndex
          required: true
          schema:
            type: number
        - in: query
          name: compressed
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Public Key Information
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PublicKeyInformation"
        default:
          $ref: "#/components/responses/Error"
  "/vault/assets":
    get:
      summary: Get asset balance for chosen assets
      description: Gets the assets amount summary for all accounts or filtered accounts.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: assets_balance = fireblocks.get_vault_assets_balance(accout_name_prefix, account_name_suffix)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const assetsBalance = await fireblocks.getVaultAssetsBalance(accountNamePrefix, accountNameSuffix);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: query
          name: accountNamePrefix
          required: false
          schema:
            type: string
        - in: query
          name: accountNameSuffix
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Amount by asset
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VaultAsset"
        default:
          $ref: "#/components/responses/Error"
  "/vault/assets/{assetId}":
    get:
      summary: Get vault balance by asset
      description: Gets the vault balance summary for an asset.
      tags:
        - Vaults
      x-readme:
        code-samples:
          - language: python
            code: assets_balance = fireblocks.get_vault_balance_by_asset(asset_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const assetsBalance = await fireblocks.getVaultBalanceByAsset(assetId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: assetId
          required: true
          schema:
            type: string
            x-fb-entity: asset
      responses:
        "200":
          description: Vault amount by asset
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/VaultAsset"
        default:
          $ref: "#/components/responses/Error"

  # EXCHANGE ACCOUNTS
  /exchange_accounts:
    get:
      summary: List exchange accounts
      description: Returns all exchange accounts.
      tags:
        - Exchange accounts
      x-readme:
        code-samples:
          - language: python
            code: exchangeAccounts = fireblocks.get_exchange_accounts()
            name: Fireblocks SDK Python example
          - language: javascript
            code: const exchangeAccounts = await fireblocks.getExchangeAccounts();
            name: Fireblocks SDK Javascript example
      responses:
        "200":
          description: An ExchangeAccount object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExchangeAccount"
        default:
          $ref: "#/components/responses/Error"
  "/exchange_accounts/{exchangeAccountId}":
    get:
      summary: Find a specific exchange account
      description: Returns an exchange account by ID.
      tags:
        - Exchange accounts
      x-readme:
        code-samples:
          - language: python
            code: exchangeAccount = fireblocks.get_exchange_account(exchangeAccountId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const exchnageAccount = await fireblocks.get_exchange_account(exchangeAccountId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: exchangeAccountId
          required: true
          description: The ID of the exchange account to return
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: An ExchangeAccount object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExchangeAccount"
        default:
          $ref: "#/components/responses/Error"
  "/exchange_accounts/{exchangeAccountId}/internal_transfer":
    post:
      summary: Internal tranfer for exchange accounts
      description: Transfers funds between trading accounts under the same exchange account.
      tags:
        - Exchange accounts
      parameters:
        - in: path
          name: exchangeAccountId
          required: true
          description: The ID of the exchange account to return
          schema:
            type: string
            minimum: 1
      responses:
        "201":
          description: Transfer succeeded
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                asset:
                  type: string
                amount:
                  type: string
                sourceType:
                  $ref: "#/components/schemas/TradingAccountType"
                destType:
                  $ref: "#/components/schemas/TradingAccountType"
  "/exchange_accounts/{exchangeAccountId}/convert":
    post:
      summary: Convert exchange account funds from the source asset to the destination asset. Coinbase (USD to USDC, USDC to USD) and Bitso (MXN to USD) are supported conversions.
      tags:
        - Exchange accounts
      parameters:
        - in: path
          name: exchangeAccountId
          required: true
          description: The ID of the exchange account. Please make sure the exchange supports conversions. To find the ID of your exchange account, use GET/exchange_accounts.
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: Conversion successful
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                srcAsset:
                  type: string
                  description: Name of the source asset (must be in a currency that is supported for conversions in the selected exchange type that corresponds to your exchange ID)
                destAsset:
                  type: string
                  description: Name of the destination asset (must be in a currency that is supported for conversions in the selected exchange type that corresponds to your exchange ID)
                amount:
                  type: number
                  description: The amount to transfer (in the currency of the source asset)
              required:
                - srcAsset
                - destAsset
                - amount
  "/exchange_accounts/{exchangeAccountId}/{assetId}":
    get:
      summary: Find an asset for an exchange account
      description: Returns an asset for an exchange account.
      tags:
        - Exchange accounts
      x-readme:
        code-samples:
          - language: python
            code: exchangeAsset = fireblocks.get_exchange_account_asset(exchangeAccountId, assetId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const exchangeAsset = await fireblocks.getExchangeAsset(exchangeAccountId, assetId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: exchangeAccountId
          required: true
          description: The ID of the exchange account to return
          schema:
            type: string
            minimum: 1
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to return
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: An ExchangeAccountAsset object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExchangeAsset"
        default:
          $ref: "#/components/responses/Error"

  # FIAT ACCOUNTS
  /fiat_accounts:
    get:
      summary: List fiat accounts
      description: Returns all fiat accounts.
      tags:
        - Fiat accounts
      x-readme:
        code-samples:
          - language: python
            code: transactions = fireblocks.get_fiat_accounts()
            name: Fireblocks SDK Python example
          - language: javascript
            code: const transactions = await fireblocks.getFiatAccounts();
            name: Fireblocks SDK Javascript example
      responses:
        "200":
          description: A fiat account object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FiatAccount"
        default:
          $ref: "#/components/responses/Error"
  "/fiat_accounts/{accountId}":
    get:
      summary: Find a specific fiat account
      description: Returns a fiat account by ID.
      tags:
        - Fiat accounts
      x-readme:
        code-samples:
          - language: python
            code: transactions = fireblocks.get_fiat_account_by_id(account_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const transactions = await fireblocks.getFiatAccountById(accountId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: accountId
          required: true
          description: The ID of the fiat account to return
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: A fiat account object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FiatAccount"
        default:
          $ref: "#/components/responses/Error"
  "/fiat_accounts/{accountId}/redeem_to_linked_dda":
    post:
      summary: Redeem funds to DDA
      description: Redeems funds to the linked DDA.
      tags:
        - Fiat accounts
      x-readme:
        code-samples:
          - language: python
            code: transactions = fireblocks.redeem_to_linked_dda(account_id, amount)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const transactions = await fireblocks.redeemToLinkedDDA(accountId, amount);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: accountId
          required: true
          description: The ID of the fiat account to use
          schema:
            type: string
            minimum: 1
      responses:
        "201":
          description: Transfer succeeded
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: number
  "/fiat_accounts/{accountId}/deposit_from_linked_dda":
    post:
      summary: Deposit funds from DDA
      description: Deposits funds from the linked DDA.
      tags:
        - Fiat accounts
      x-readme:
        code-samples:
          - language: python
            code: transactions = fireblocks.deposit_from_linked_dda(account_id, amount)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const transactions = await fireblocks.depositFromLinkedDDA(accountId, amount);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: accountId
          required: true
          description: The ID of the fiat account to use
          schema:
            type: string
            minimum: 1
      responses:
        "201":
          description: Transfer succeeded
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: number

  # NETWORK CONNECTIONS
  "/network_connections":
    get:
      summary: List network connections
      description: |
        Returns all network connections.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      x-readme:
        code-samples:
          - language: python
            code: network_connections = fireblocks.get_network_connections()
            name: Fireblocks SDK Python example
          - language: javascript
            code: const networkConnections = await fireblocks.getNetworkConnections();
            name: Fireblocks SDK Javascript example
      responses:
        "200":
          description: A list of network connections
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NetworkConnectionResponse"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Creates a new network connection
      description: |
        Initiates a new network connection.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NetworkConnection"
      responses:
        "201":
          description: A Network Connection object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/NetworkConnectionResponse"
        default:
          $ref: "#/components/responses/Error"
  "/network_connections/{connectionId}/set_routing_policy":
    patch:
      summary: Update network connection routing policy.
      description: |
        Updates an existing network connection's routing policy.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      parameters:
        - in: path
          name: connectionId
          required: true
          description: The ID of the network connection
          schema:
            type: string
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                routingPolicy:
                  $ref: "#/components/schemas/NetworkConnectionRoutingPolicy"
              required:
                - routingPolicy
      responses:
        "200":
          description: Network ID
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            "*/*":
              schema:
                properties:
                  success:
                    type: boolean
                required:
                  - success
        default:
          $ref: "#/components/responses/Error"
  "/network_connections/{connectionId}/is_third_party_routing/{assetType}":
    get:
      summary: Retrieve third-party network routing validation by asset type.
      description: The Fireblocks Network allows for flexibility around incoming deposits. A receiver can receive network deposits to locations other than Fireblocks. This endpoint validates whether future transactions are routed to the displayed recipient or to a 3rd party.
      tags:
        - Network connections
      parameters:
        - in: path
          name: connectionId
          required: true
          description: The ID of the network connection
          schema:
            type: string
            minimum: 1
        - in: path
          name: assetType
          required: true
          description: The destination asset type
          schema:
            type: string
            enum:
              - CRYPTO
              - SIGNET
              - SEN
              - SIGNET_TEST
              - SEN_TEST
      responses:
        "200":
          description: result for the validation
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            "*/*":
              schema:
                properties:
                  isThirdPartyRouting:
                    type: boolean
                  description:
                    type: string
        default:
          $ref: "#/components/responses/Error"
  "/network_connections/{connectionId}":
    get:
      summary: Get a network connection
      description: |
        Gets a network connection by ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      x-readme:
        code-samples:
          - language: python
            code: network_connection = fireblocks.get_network_connection_by_id(connectionId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const network_connection = await fireblocks.getNetworkConnection(connectionId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: connectionId
          required: true
          description: The ID of the connection
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: A network connection
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/NetworkConnectionResponse"
        default:
          $ref: "#/components/responses/Error"
    delete:
      summary: Deletes a network connection by ID
      description: |
        Deletes an existing network connection specified by its connection ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      parameters:
        - in: path
          name: connectionId
          required: true
          description: The ID of the network connection to delete
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: Network ID
          headers:
            X-Request-ID:
              $ref: "#/components/headers/X-Request-ID"
          content:
            "*/*":
              schema:
                properties:
                  success:
                    type: boolean
                required:
                  - success
        default:
          $ref: "#/components/responses/Error"
  "/network_ids":
    get:
      summary: Returns all network IDs, both local IDs and discoverable remote IDs
      description: |
        Retrieves a list of all local and discoverable remote network IDs.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      responses:
        "200":
          description: A list of network IDs
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/NetworkIdResponse"

        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Creates a new Network ID
      description: |
        Creates a new Network ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                routingPolicy:
                  $ref: "#/components/schemas/NetworkIdRoutingPolicy"
              required:
                - name
      responses:
        "201":
          description: Returns the new network ID in your workspace
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/NetworkIdResponse"
        default:
          $ref: "#/components/responses/Error"
  "/network_ids/{networkId}":
    get:
      summary: Returns specific network ID.
      description: |
        Retrieves a network by its ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      parameters:
        - in: path
          name: networkId
          required: true
          description: The ID of the network
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: Network ID
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/NetworkIdResponse"
        default:
          $ref: "#/components/responses/Error"
    delete:
      summary: Deletes specific network ID.
      description: |
        Deletes a network by its ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      parameters:
        - in: path
          name: networkId
          required: true
          description: The ID of the network
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: Network ID
          content:
            "*/*":
              schema:
                properties:
                  success:
                    type: boolean
                required:
                  - success
        default:
          $ref: "#/components/responses/Error"
  "/network_ids/{networkId}/set_routing_policy":
    patch:
      summary: Update network id routing policy.
      description: |
        Updates the routing policy of a specified network ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      parameters:
        - in: path
          name: networkId
          required: true
          description: The ID of the network
          schema:
            type: string
            minimum: 1
      requestBody:
        content:
          application/json:
            schema:
              properties:
                routingPolicy:
                  $ref: "#/components/schemas/NetworkIdRoutingPolicy"
              required:
                - routingPolicy
      responses:
        "200":
          description: Network ID
          headers: *req-id-header
          content:
            "*/*":
              schema:
                properties:
                  success:
                    type: boolean
                required:
                  - success
        default:
          $ref: "#/components/responses/Error"
  "/network_ids/{networkId}/set_discoverability":
    patch:
      summary: Update network ID's discoverability.
      description: |
        Update whether or not the network ID is discoverable by others.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      parameters:
        - in: path
          name: networkId
          required: true
          description: The ID of the network
          schema:
            type: string
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                isDiscoverable:
                  type: boolean
              required:
                - isDiscoverable
      responses:
        "200":
          description: Network ID
          headers: *req-id-header
          content:
            "*/*":
              schema:
                properties:
                  success:
                    type: boolean
                required:
                  - success
        default:
          $ref: "#/components/responses/Error"
  "/network_ids/{networkId}/set_name":
    patch:
      summary: Update network ID's name.
      description: |
        Updates name of a specified network ID.

        **Note:** This API call is subject to Flexible Routing Schemes.

        Your routing policy defines how your transactions are routed.
        You can choose 1 of the 3 different schemes mentioned below for each asset type:
          - **None**; Defines the profile routing to no destination for that asset type. Incoming transactions to asset types routed to `None` will fail.
          - **Custom**; Route to an account that you choose. If you remove the account, incoming transactions will fail until you choose another one.
          - **Default**; Use the routing specified by the network profile the connection is connected to. This scheme is also referred to as "Profile Routing"

        Default Workspace Presets:
          - Network Profile Crypto → **Custom**
          - Network Profile FIAT → **None**
          - Network Connection Crypto → **Default**
          - Network Connection FIAT → **Default**

            - **Note**: By default, Custom routing scheme uses (`dstId` = `0`, `dstType` = `VAULT`).
      tags:
        - Network connections
      parameters:
        - in: path
          name: networkId
          required: true
          description: The ID of the network
          schema:
            type: string
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
              required:
                - name
      responses:
        "200":
          description: Network ID
          headers: *req-id-header
          content:
            "*/*":
              schema:
                properties:
                  success:
                    type: boolean
                required:
                  - success
        default:
          $ref: "#/components/responses/Error"

  #  INTERNAL WALLETS
  /internal_wallets:
    get:
      summary: List internal wallets
      tags:
        - Internal wallets
      description: |
        Gets a list of internal wallets.

        **Note**: BTC-based assets belonging to whitelisted addresses cannot be retrieved between 00:00 UTC and 00:01 UTC daily due to third-party provider, Blockchair, being unavailable for this 60 second period. Please wait until the next minute to retrieve BTC-based assets.
      responses:
        "200":
          description: A list of internal wallets
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnmanagedWallet"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create an internal wallet
      tags:
        - Internal wallets
      x-readme:
        code-samples:
          - language: python
            code: internalWallet = fireblocks.create_internal_wallet(name, customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const internalWallet = await fireblocks.createInternalWallet(name, customerRefId);
            name: Fireblocks SDK Javascript example
      description: Creates a new internal wallet with the requested name.
      responses:
        "200":
          description: A new wallet object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UnmanagedWallet"
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: the wallet's display name
                customerRefId:
                  description: >-
                    Optional - Sets a customer reference ID
                  type: string
  "/internal_wallets/{walletId}":
    get:
      summary: Get assets for internal wallet
      tags:
        - Internal wallets
      x-readme:
        code-samples:
          - language: python
            code: internalWallet = fireblocks.get_internal_wallet(walletId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const result = await fireblocks.getInternalWallet(walletId);
            name: Fireblocks SDK Javascript example
      description: Returns all assets in an internal wallet by ID.
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet to return
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: A Wallet object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UnmanagedWallet"
        default:
          $ref: "#/components/responses/Error"
    delete:
      summary: Delete an internal wallet
      tags:
        - Internal wallets
      x-readme:
        code-samples:
          - language: python
            code: result = firebocks.delete_internal_wallet(walletId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const result = await fireblocks.deleteInternalWallet(walletId);
            name: Fireblocks SDK Javascript example
      description: Deletes an internal wallet by ID.
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet to delete
          schema:
            type: string
            minimum: 1
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/internal_wallets/{walletId}/set_customer_ref_id":
    post:
      summary: Set an AML/KYT customer reference ID for an internal wallet
      tags:
        - Internal wallets
      x-readme:
        code-samples:
          - language: python
            code: result = firebocks.set_customer_ref_id_for_internal_wallet(wallet_id, customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const result = await fireblocks.setCustomerRefIdForInternalWallet(walletId, customerRefId);
            name: Fireblocks SDK Javascript example
      description: Sets an AML/KYT customer reference ID for the specific internal wallet.
      parameters:
        - in: path
          name: walletId
          required: true
          description: The wallet ID
          schema:
            type: string
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                customerRefId:
                  description: Customer reference ID
                  type: string
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/internal_wallets/{walletId}/{assetId}":
    get:
      summary: Get an asset from an internal wallet
      tags:
        - Internal wallets
      x-readme:
        code-samples:
          - language: python
            code: internalWalletAsset = fireblocks.get_internal_wallet_asset(walletId, assetId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const internalWalletAsset = fireblocks.getInternalWalletAsset(walletId, assetId);
            name: Fireblocks SDK Javascript example
      description: Returns information for an asset in an internal wallet.
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet
          schema:
            type: string
            minimum: 1
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to return
          schema:
            type: string
            minimum: 1
            x-fb-entity: asset
      responses:
        "200":
          description: A Wallet Asset object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/WalletAsset"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Add an asset to an internal wallet
      tags:
        - Internal wallets
      x-readme:
        code-samples:
          - language: python
            code: internalWalletAsset = fireblocks.create_internal_wallet_asset(walletId, assetId, address, tag)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const internalWalletAsset = await fireblocks.createInternalWalletAsset(walletContainerId, assetId, address, tag);
            name: Fireblocks SDK Javascript example
      description: Adds an asset to an existing internal wallet.
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet
          schema:
            type: string
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to add
          schema:
            type: string
      responses:
        "200":
          description: A Wallet Asset object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/WalletAsset"
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                  description: The wallet's address or, for EOS wallets, the account name
                tag:
                  type: string
                  description: for XRP wallets, the destination tag; for EOS, the memo; for the fiat providers (Signet by Signature, SEN by Silvergate, or BLINC by BCB Group), the Bank Transfer Description
              required:
                - address
    delete:
      summary: Delete a whitelisted address from an internal wallet
      tags:
        - Internal wallets
      x-readme:
        code-samples:
          - language: python
            code: result = fireblocks.delete_internal_wallet_asset(walletId, assetId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const result = await fireblocks.deleteInternalWalletAsset(walletId, assetId);
            name: Fireblocks SDK Javascript example
      description: Deletes a whitelisted address (for an asset) from an internal wallet.
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet
          schema:
            type: string
            minimum: 1
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to delete
          schema:
            type: string
            minimum: 1
            x-fb-entity: asset
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"

  # EXTERNAL WALLETS
  /external_wallets:
    get:
      summary: List external wallets
      description: Gets a list of external wallets under the workspace.
      tags:
        - External wallets
      x-readme:
        code-samples:
          - language: python
            code: externalWallets = fireblocks.get_external_wallets()
            name: Fireblocks SDK Python example
          - language: javascript
            code: const externalWallets = await fireblocks.getExternalWallets();
            name: Fireblocks SDK Javascript example
      responses:
        "200":
          description: A list of external wallets
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnmanagedWallet"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create an external wallet
      description: Creates a new external wallet with the requested name.
      tags:
        - External wallets
      x-readme:
        code-samples:
          - language: python
            code: externalWallet = fireblocks.create_external_wallet(name, customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const externalWallet = await fireblocks.createExternalWallet(name, customerRefId);
            name: Fireblocks SDK Javascript example
      responses:
        "200":
          description: A Wallet object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UnmanagedWallet"
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: the wallet's display name
                customerRefId:
                  description: >-
                    Optional - Sets a customer reference ID
                  type: string
  "/external_wallets/{walletId}":
    get:
      summary: Find an external wallet
      description: Returns an external wallet by ID.
      tags:
        - External wallets
      x-readme:
        code-samples:
          - language: python
            code: externalWallet = fireblocks.get_external_wallet(walletId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const externalWallet = await fireblocks.getExternalWallet(walletId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet to return
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: A Wallet object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UnmanagedWallet"
        default:
          $ref: "#/components/responses/Error"
    delete:
      summary: Delete an external wallet
      description: Deletes an external wallet by ID.
      tags:
        - External wallets
      x-readme:
        code-samples:
          - language: python
            code: result = firebocks.delete_external_wallet(walletId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const result = await fireblocks.deleteExternalWallet(walletId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet to delete
          schema:
            type: string
            minimum: 1
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/external_wallets/{walletId}/set_customer_ref_id":
    post:
      summary: Set an AML customer reference ID for an external wallet
      description: Sets an AML/KYT customer reference ID for the specific external wallet.
      tags:
        - External wallets
      x-readme:
        code-samples:
          - language: python
            code: result = firebocks.set_customer_ref_id_for_external_wallet(wallet_id, customer_ref_id)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const result = await fireblocks.setCustomerRefIdForExternalWallet(walletId, customerRefId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: walletId
          required: true
          description: The wallet ID
          schema:
            type: string
            minimum: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                customerRefId:
                  description: Customer reference ID
                  type: string
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/external_wallets/{walletId}/{assetId}":
    get:
      summary: Get an asset from an external wallet
      description: Returns an external wallet by wallet ID and asset ID.
      tags:
        - External wallets
      x-readme:
        code-samples:
          - language: python
            code: externalWalletAsset = fireblocks.get_external_wallet_asset(walletId, assetId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const externalWalletAsset = fireblocks.getExternalWalletAsset(walletId, assetId)
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet
          schema:
            type: string
            minimum: 1
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to return
          schema:
            type: string
            minimum: 1
            x-fb-entity: asset
      responses:
        "200":
          description: A Wallet Asset object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExternalWalletAsset"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Add an asset to an external wallet.
      description: Adds an asset to an existing external wallet.
      tags:
        - External wallets
      x-readme:
        code-samples:
          - language: python
            code: externalWalletAsset = fireblocks.create_external_wallet_asset(walletId, assetId, address, tag)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const externalWalletAsset = await fireblocks.createExternalWalletAsset(walletContainerId, assetId, address, tag);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet
          schema:
            type: string
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to add
          schema:
            type: string
            x-fb-entity: asset
      responses:
        "200":
          description: A Wallet Asset object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExternalWalletAsset"
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                  description: The wallet's address (or xpub) of the wallet
                tag:
                  type: string
                  description: For XRP wallets, the destination tag; for EOS/XLM, the memo; for the fiat providers (Signet by Signature, SEN by Silvergate, or BLINC by BCB Group), the Bank Transfer Description
              required:
                - address
    delete:
      summary: Delete an asset from an external wallet
      description: Deletes an external wallet asset by ID.
      tags:
        - External wallets
      x-readme:
        code-samples:
          - language: python
            code: result = fireblocks.delete_external_wallet_asset(walletId, assetId)
            name: Fireblocks SDK Python example
          - language: javascript
            code: const result = await fireblocks.deleteExternalWalletAsset(walletId, assetId);
            name: Fireblocks SDK Javascript example
      parameters:
        - in: path
          name: walletId
          required: true
          description: The ID of the wallet
          schema:
            type: string
            minimum: 1
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to delete
          schema:
            type: string
            minimum: 1
            x-fb-entity: asset
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"

  # CONTRACTS
  /contracts:
    get:
      summary: List contracts
      description: Gets a list of contracts.
      tags:
        - Contracts
      responses:
        "200":
          description: A list of contracts
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UnmanagedWallet"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create a contract
      description: Creates a new contract.
      tags:
        - Contracts
      responses:
        "200":
          description: A Wallet object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UnmanagedWallet"
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: the contract's display name
  "/contracts/{contractId}":
    get:
      summary: Find a specific contract
      description: Returns a contract by ID.
      tags:
        - Contracts
      parameters:
        - in: path
          name: contractId
          required: true
          description: The ID of the contract to return
          schema:
            type: string
            minimum: 1
      responses:
        "200":
          description: A Wallet object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UnmanagedWallet"
        default:
          $ref: "#/components/responses/Error"
    delete:
      summary: Delete a contract
      description: Deletes a contract by ID.
      tags:
        - Contracts
      parameters:
        - in: path
          name: contractId
          required: true
          description: The ID of the contract to delete
          schema:
            type: string
            minimum: 1
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"
  "/contracts/{contractId}/{assetId}":
    get:
      summary: Find a contract asset
      description: Returns a contract asset by ID.
      tags:
        - Contracts
      parameters:
        - in: path
          name: contractId
          required: true
          description: The ID of the contract
          schema:
            type: string
            minimum: 1
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to return
          schema:
            type: string
            minimum: 1
            x-fb-entity: asset
      responses:
        "200":
          description: A Wallet Asset object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExternalWalletAsset"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Add an asset to a contract
      description: Adds an asset to an existing contract.
      tags:
        - Contracts
      parameters:
        - in: path
          name: contractId
          required: true
          description: The ID of the contract
          schema:
            type: string
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to add
          schema:
            type: string
            x-fb-entity: asset
      responses:
        "200":
          description: A Wallet Asset object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExternalWalletAsset"
        default:
          $ref: "#/components/responses/Error"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                  description: The contract's address (or xpub) of the wallet
                tag:
                  type: string
                  description: The destination tag, for XRP wallets
              required:
                - address
    delete:
      summary: Delete a contract asset
      description: Deletes a contract asset by ID.
      tags:
        - Contracts
      parameters:
        - in: path
          name: contractId
          required: true
          description: The ID of the contract
          schema:
            type: string
            minimum: 1
        - in: path
          name: assetId
          required: true
          description: The ID of the asset to delete
          schema:
            type: string
            minimum: 1
            x-fb-entity: asset
      responses:
        "201":
          description: OK
          headers: *req-id-header
        default:
          $ref: "#/components/responses/Error"

  # SUPPORTED ASSETS
  "/supported_assets":
    get:
      summary: List all asset types supported by Fireblocks
      description: Returns all asset types supported by Fireblocks.
      tags:
        - Supported assets
      x-readme:
        code-samples:
          - language: python
            code: supportedAssets = fireblocks.get_supported_assets()
            name: Fireblocks SDK Python example
          - language: javascript
            code: const supportedAssets = await fireblocks.getSupportedAssets();
            name: Fireblocks SDK Javascript example
      responses:
        "200":
          description: A Transaction object
          headers: *req-id-header
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AssetTypeResponse"
        default:
          $ref: "#/components/responses/Error"

  # TRANSACTIONS
  /transactions:
    get:
      summary: List transaction history
      description: Lists the transaction history for your workspace.
      tags:
        - Transactions
      x-readme:
        code-samples:
          - language: python
            code: transactions = fireblocks.get_transactions()
            name: Fireblocks SDK Python example
          - language: javascript
            code: >
              const transactions = await fireblocks.getTransactions({
               status: args.status,
              after: from
              });
            name: Fireblocks SDK Javascript example
      parameters:
        - in: query
          name: before
          description: >-
            Unix timestamp in milliseconds. Returns only transactions created before the
            specified date
          required: false
          schema:
            type: string
        - in: query
          name: after
          description: >-
            Unix timestamp in milliseconds. Returns only transactions created after the
            specified date
          required: false
          schema:
            type: string
        - in: query
          name: status
          description: >-
            You can filter by one of the statuses.
          required: false
          schema:
            type: string
        - in: query
          name: orderBy
          description: The field to order the results by
          required: false
          schema:
            type: string
            enum:
              - createdAt
              - lastUpdated
        - in: query
          name: sort
          description: The direction to order the results by
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
        - in: query
          name: limit
          description: >-
            Limits the number of results. If not provided, a limit of 200 will be used. The maximum allowed limit is 500
          required: false
          schema:
            type: integer
            minimum: 1
            default: 200
        - in: query
          name: sourceType
          description: The source type of the transaction
          required: false
          schema:
            type: string
            enum:
              - VAULT_ACCOUNT
              - EXCHANGE_ACCOUNT
              - INTERNAL_WALLET
              - EXTERNAL_WALLET
              - FIAT_ACCOUNT
              - NETWORK_CONNECTION
              - COMPOUND
              - UNKNOWN
              - GAS_STATION
              - OEC_PARTNER
        - in: query
          name: sourceId
[...]
